<div>
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="../../assets/images/about/about-us.jpg" alt=" ">
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="about__item ">
                        <h4>Thương hiệu Delicat</h4>
                        <p>DÉlicat là thương hiệu phụ kiện trang trí không gian sống được thành lập vào tháng 10/2021, khởi nguồn từ mong muốn có thể cung cấp các loại sản phẩm trang trí, phụ kiện đẹp và đa dạng cho khách hàng tại thị trường Việt Nam. Đến
                            với DÉlicat, bạn chắc chắn sẽ tìm thấy rất nhiều sự lựa chọn mà không phải lăn tăn nhiều về giá cả</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="about__item ">
                        <h4>Sản phẩm của DÉlicat</h4>
                        <p>Bằng tất cả đam mê, DÉlicat sẽ nỗ lực không ngừng để trở thành một trạm dừng chân lý tưởng cho những người yêu không gian sống đẹp. Tại DÉlicat, bạn có thể tìm thấy nhiều phụ kiện trang trí không gian sống hiện đại, bắt kịp xu
                            hướng và thân thiện với môi trường với mức giá cực kì phải chăng.</p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="about__item ">
                        <h4>Tại sao lại chọn DÉlicat?</h4>
                        <p>Sản phẩm của DÉlicat vô cùng phong phú, giá cả phải chăng phù hợp với nhiều người. DÉlicat luôn bắt kịp xu hướng nên sẽ liên tục có những sản phẩm mới đưa ra thị trường.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 p-0">
                    <div class="testimonial__text mx-2">
                        <p>"Ra đời từ ý tưởng tạo nên sự khác biệt, DÉlicat đã giữ vững và phát triển trở thành vị trí hàng đầu trong thị trường nội thất Việt Nam. Đến nay, DÉlicat đã có nhiều cửa hàng quy mô và chuyên nghiệp tại các thành phố lớn là Hà
                            Nội và TP.HCM, Bình Dương. <br>Cảm ơn bạn đã tiếp tục tin tưởng mà bạn đã đặt vào thương hiệu của chúng tôi. Thành công liên tục của chúng tôi dựa vào lòng trung thành và sự ủng hộ của những khách hàng như bạn."
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <img src="../../assets/images/about/testimonial-pic.jpg">
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Client Section Begin -->
    <section class="clients spad ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 mt-5">
                    <div class="section-title ">
                        <span class="text-danger ">GỢI Ý</span>
                        <h2>MỘT SỐ HÌNH ẢNH TRANG TRÍ NHÀ ĐẸP</h2>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-5">
                    <a href="# " class="client__item "><img src="../../assets/images/about/1.jpg " alt=" "></a>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <a href="# " class="client__item "><img src="../../assets/images/about/2.jpg" alt=" "></a>
                </div>
                <div class="col-lg-5">
                    <a href="# " class="client__item "><img src="../../assets/images/about/3.jpg " alt=" "></a>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <a href="# " class="client__item "><img src="../../assets/images/about/4.jpg" alt=" "></a>
                </div>
                <div class="col-lg-5">
                    <a href="# " class="client__item "><img src="../../assets/images/about/5.jpg " alt=" "></a>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <a href="# " class="client__item "><img src="../../assets/images/about/6.jpg" alt=" "></a>
                </div>
                <div class="col-lg-5">
                    <a href="# " class="client__item "><img src="../../assets/images/about/7.jpg " alt=" "></a>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <a href="# " class="client__item "><img src="../../assets/images/about/8..jpg" alt=" "></a>
                </div>
            </div>
        </div>
    </section>
</div>